<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script>
      let url = "";
      url = location.pathname;
      // dont think this would happen but too lazy to look if this is how it works
      if (!url.startsWith("/")) {
        url = "/" + url;
      }
      location.replace(`https://rossiflower.cc${location.pathname}`);
    </script>
  </head>
  <body>
    <noscript>
      Please visit <a href="https://rossiflower.cc">rossiflower.cc</a> instead,
      it's the new domain.
    </noscript>
  </body>
</html>