<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta name="robots" content="noarchive" />
    <title>{{ page.title }} | Colleirose Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/colleirose/colleirose.github.io@main/css/style.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <noscript>
      <style>
        pre {
          background: #0d1117;
        }
      </style>
    </noscript>
    <style>
      html,
      body {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(40, 40, 40);
        color: white;
      }

      html {
        height: 100%;
      }

      body {
        min-height: 100%;
        margin: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      main {
        flex: 1;
      }
    </style>
    {% seo title=false %}
  </head>
  <body lang="en-US">
    <!--
      This script fixes a flash of unstyled content in Firefox
      See https://stackoverflow.com/a/57888310
    -->
    <script>0</script>
    
    <nav>
      <a href="/">Home</a>
    </nav>
    
    <main>
      <h1 style="text-align: center">{{ page.title }}</h1>
      {{ content }}
    </main>
    
    <footer>
      <p>&copy; Colleirose, licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" rel="noopenner">GNU General Public License V3</a>.</p>
    </footer>
  </body>
</html>
