---
layout: default
---
<style>
  /* This looks nice on posts but not on the main page. */
  main {
    text-align: left;
    margin: 1% 2%;
  }
</style>

<p style="text-align: center">Published on {{ page.date }} | Last modified on {{ page.last_modified_at }} | Written by {{ page.author }}</p>

{{ content }}

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
  integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script onload="hljs.highlightAll()" defer
  src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.min.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
  -->
