---
layout: default
---
<style>
  /* This looks nice on posts but not on the main page. */
  main {
    text-align: left;
    margin: 1% 2%;
  }
</style>

<meta rel="canocial" href="https://colleirose.github.io{{ page.permalink }}"/>
<p style="text-align: center">Published on {{ page.date }} | Last modified on {{ page.last_modified_at }} | Written by {{ page.author }}</p>

<noscript>
{{ content }}
</noscript>

<div id="content"></div>

{% assign new_content = content | replace: "`", "\`" %}

<script>
  // Lazy load images not visible in the viewport
  
  (() => {
    document.getElementById("content").innerHTML = `{{ new_content }}`;

    const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.0
    };

    const isNotVisible = (element) => {
        const rect = element.getBoundingClientRect();

        return (
            rect.bottom < 0 ||
            rect.right < 0 ||
            rect.left > window.innerWidth ||
            rect.top > window.innerHeight
        );
    }

    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting || isNotVisible(entry.target)) {
                entry.target.setAttribute('loading', 'lazy');
                observer.unobserve(entry.target);
            }
        });
    }, options);

    document.querySelectorAll('img').forEach((img) => {
        observer.observe(img);
    });
})();
</script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
  integrity="sha512-rO+olRTkcf304DQBxSWxln8JXCzTHlKnIdnMUwYvQa9/Jd4cQaNkItIUj6Z4nvW1dqK0SKXLbn9h4KwZTNtAyw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.min.js" defer crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>hljs.highlightAll()</script>
